.settings{
    display: none;
}


#template{
    height: 60ex;
    border: 1px solid black
}

#preview{
    height: 50ex;
    border: 1px solid black
}

.navigation{
    padding-top: 2ex;
}

.padding-elem{
    padding-top: 2ex;
}

select[multiple]{
    height: 30ex;
}