{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    РИАВС - Шаблонизатор писем
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/constructor_style.css' %}">
    <link rel="stylesheet" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}">
 {% endblock %}

{% block scripts %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- datetimepicker -->
    <script src="{% static 'js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
     <!-- text editors -->
    <script src="{% static 'js/nicedit/nicEdit.js' %}"></script>


<!-- http://www.eyecon.ro/colorpicker/ -->
    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'js/colorpicker/css/colorpicker.css' %}" />
    <link rel="stylesheet" media="screen" type="text/css"
          href="{% static 'js/fancy_box/source/jquery.fancybox.css' %}" />

    <link rel="stylesheet" media="screen" type="text/css"
          href="{% static 'js/fancy_box/source/helpers/jquery.fancybox-thumbs.css' %}" />
    <script type="text/javascript" src="{% static 'js/colorpicker/js/colorpicker.js' %}"></script>


<!--<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>-->


    <script src="{% static 'js/csrf_ajax.js' %}"></script>
    <script src="{% static 'js/work_with_div.js' %}"></script>
    <script src="{% static 'js/work_with_group.js' %}"></script>
    <script src="{% static 'js/work_with_user.js' %}"></script>
    <script src="{% static 'js/work_with_select.js' %}"></script>
    <script src="{% static 'js/work_with_location.js' %}"></script>
    <script src="{% static 'js/save_template.js' %}"></script>
    <script src="{% static 'js/load_template.js' %}"></script>
    <script src="{% static 'js/page_templates_init.js' %}"></script>
   <script src="{% static 'js/fancy_box/source/jquery.fancybox.pack.js' %}"></script>
   <script src="{% static 'js/fancy_box/source/helpers/jquery.fancybox-thumbs.js' %}"></script>


{% endblock %}

{% block content %}
    <div>

			<div class="container">
				<div id="email" class="well well-lg">

                    <div id='select_templates' style="wigth: 100%">
                        {% for template in templates %}
                            <div
                                    style="wigth: 10%;display:inline-block;margin-right:50px">
                                <div>
                                    <a class="fancybox" rel="group"
                                       href="/media/{{template.thumbnail}}"><img
                                            height="100" width="100"
                                            src="/media/{{template.thumbnail}}"
                                            alt="" /></a>

                                </div>
                                <br>
                                    <button class="btn btn-primary"
                                            onclick="return loadTemplate('{{ template.id }}', '{{ template.html }}');">Выбрать</button>
                                    <!--<a  href="#" onclick="return loadTemplate('{{ template.id }}', '{{ template.html }}');"> {{ template.name }}</a>-->

                            </div>
                        {% endfor %}
                    </div>


                    <form action="/constructor/render_template/" method="post" target="_blank" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-12" style="padding-bottom:3ex;">
                            <h3>Шаблон</h3>
                            <input type="hidden" name="temp_id" id="temp_id">
                            <div style="padding-bottom:3ex;">
                                <h3>Настройки шаблона</h3>
                                <div>
                                    <label>Тема письма</label>
                                    <input type="text" id="subject" name="subject" class="form-control">
                                </div>


                                <!-- настройка background -->
                                <div>
                                    <div class ="row">

                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class ="bg-panel-align">
                                                    <label>Фон письма (цвет)</label>
                                                    <input type="text" class="color" id="background-color" name="background-color">
                                                </div>
                                                <div class ="bg-panel-align">
                                                    <label>Фон письма (картинка)</label>
                                                    <input type="file" name="background-image" id="background-image" accept="image/*">
                                                    <div class ="bg-panel-align" style="display: none;">
                                                        <input type="checkbox" id="fixed_check" name="fixed_bg">
                                                        <label for="fixed_check">
                                                            Растянуть картинку
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>


                    <!-- настройка header -->
                                       <div style="col-md-6">
                                           <div>
                                                <div class ="bg-panel-align">
                                                    <label>Фон шапки (цвет)</label>
                                                    <input type="text" class="color" id='head_background-color' name="head_background-color">
                                                </div>
                                                <div class ="bg-panel-align">
                                                    <label>Фон шапки (картинка)</label>
                                                    <input type="file" name="head_background-image" id="head_background-image" accept="image/*">
                                                </div>
                                            </div>
                                       </div>


                                    </div>
                                </div>

<hr>
                                <div style="padding-bottom: 3ex;">
                                    <div class =" col-sm-6 bg-panel-align" >
                                        <label>Цвет фона футера</label>
                                        <input type="text" class="color" id="footer" name="footer">
                                    </div>


                                    <div class ="bg-panel-align">
                                        <input type="checkbox" id="check" name="social_buttons"/>
                                        <label for="check">Кнопки на соц. сети</label>
                                    </div>
                                </div>
            <!-- настройка footer -->


                            </div>


                            <div id='template' class="col-sm-12 padding-elem">

                            </div>

                        </div>


                        <div class="col-sm-6" style="display: none">
                            <h3>Предпросмотр</h3>
                            <div id='preview' class="col-sm-10">

                            </div>
                        </div>

                        <div id="errors" class="padding-elem">

                        </div>

                        <div style="height: 3ex;"></div>

                        <div class="navigation text-center" style="margin-top:3ex;">
                            <input type='submit' value='Предпросмотр письма' class="btn btn-primary" id="btn_preview" onclick="return previewValidate();">
                            <input type='button' value='Далее' class="btn btn-primary" id="btn_next" onclick="templatePreview()">
                        </div>
                    </form>
				</div>

				<div id="setting" class="settings">
                    <div>
                        <div class="col-sm-12 well well-lg">
                            <div class="col-sm-6">
                                <label>
                                    Группы пользователей (компаний)
                                </label>
                                <select multiple="multiple" class="form-control" id="select_groups">
                                    {% for group in groups %}
                                        <option value="{{ group.id}}">{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="text-center padding-elem">
                                    <input type="button" value="Добавить группы" id="add_group" class="btn btn-success">
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <label>
                                    Добавленные группы
                                </label>

                                <select multiple="multiple" class="form-control select-style" id="adding_groups">

                                </select>

                                <div class="text-center padding-elem">
                                    <input type="button" value="Удалить группы" id="delete_group" class="btn btn-danger">
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-12 well well-lg">
                            <div class="col-sm-6">
                                <div>
                                    <label>
                                        Поиск пользователей
                                    </label>

                                    <input type="text" class="form-control" id="search_user" onkeyup="userSearch();">
                                </div>
                                <div>
                                    <label>
                                        Результаты поиска
                                    </label>
                                    <select multiple="multiple" class="form-control select-style" id="searching_users">
                                        {% for company in companies %}
                                            <option value="{{ company.id}}">{{ company.company_name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>

                                <div class="text-center padding-elem">
                                    <input type="button" value="Добавить пользователей" id="add_users" class="btn btn-primary">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label>
                                    Пользователи
                                </label>
                                <div>
                                    <select multiple="multiple" class="form-control" id="added_users">

                                    </select>
                                </div>
                                <div class="text-center padding-elem">
                                    <input type="button" value="Удалить пользователей" id="delete_users" class="btn btn-danger">
                                </div>

                            </div>

                        </div>
                        <!-- -------------------------------------------- -->


                        <div class="col-sm-12 well well-lg">
                            <div class="col-sm-6">

                                <label>
                                    Местоположение пользователей
                                </label>

                                <div>
                                    <select multiple="multiple" class="form-control select-style" id="locations">
                                        {% for location in locations %}
                                            <option value="{{ location.id}}">{{ location.name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>

                                <div class="text-center padding-elem">
                                    <input type="button" value="Добавить местоположение" id="add_location" class="btn btn-primary">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label>
                                    Добавленные местоположения
                                </label>
                                <div>
                                    <select multiple="multiple" class="form-control" id="added_locations">

                                    </select>
                                </div>
                                <div class="text-center padding-elem">
                                    <input type="button" value="Удалить местоположение" id="delete_locations" class="btn btn-danger">
                                </div>
                            </div>

                        </div>

					<!-- -------------------------------------------- -->


                    <div class="well well-lg">
                        <label>
                            Выбор даты и времени отправки письма
                        </label>
                        <div id="datetime">
                            <input id="datetimepicker" type="text" class="form-control">
                        </div>
                    </div>

                     <div class="well well-lg">
                        <label>
                            Адрес рассылки
                        </label>
                        <div>
                            <input id="address" type="text" class="form-control">
                        </div>
                    </div>

                    <!-- -------------------------------------------- -->
                        <div id="error-two">

                        </div>

                    <div id="navigation text-center padding-elem">
                        <input type='button' value='Назад' class="btn btn-primary" id="btn_back" class="btn btn-primary">
                        <input type='button' value='Создать письмо' class="btn btn-primary" onclick="templateSave();" class="btn btn-primary">


                    </div>
				</div>
			</div>

		</div>
{% endblock %}