{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    РИАВС - Шаблонизатор писем
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/constructor_style.css' %}">
    <link rel="stylesheet" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}">
 {% endblock %}

{% block scripts %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- datetimepicker -->
    <script src="{% static 'js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
<!--<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>-->
    <script src="{% static 'js/work_with_div.js' %}"></script>
    <script src="{% static 'js/work_with_group.js' %}"></script>
    <script src="{% static 'js/work_with_user.js' %}"></script>
    <script src="{% static 'js/work_with_select.js' %}"></script>
    <script src="{% static 'js/work_with_location.js' %}"></script>
    <script src="{% static 'js/save_template.js' %}"></script>
    <script src="{% static 'js/load_template.js' %}"></script>
{% endblock %}

{% block content %}
    <div>
			<div id='select_templates'>
                {% for template in templates %}
                    <div>
                        <a href="#" onclick="return loadTemplate('{{ template.id }}');">{{ template.name }}</a>
                    </div>
                {% endfor %}
			</div>

			<div class="container">
				<div id="email" class="well well-lg">
                    <form action="/constructor/render_template/" method="post" target="_blank" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <h3>Шаблон</h3>
                            <div>
                                <label>Тема письма</label>
                                <input type="text" id="subject" name="subject">
                            </div>

                            <input type="hidden" name="template_id" id="temp_id">
                            <div id='template'  class="col-sm-10">

                            </div>
                        </div>

                        <div class="col-sm-6" style="display: none">
                            <h3>Предпросмотр</h3>
                            <div id='preview' class="col-sm-10">

                            </div>
                        </div>

                        <div class="navigation">
                            <input type='submit' value='Предпросмотр письма' class="btn btn-primary" id="btn_preview">
                            <input type='button' value='Далее' class="btn btn-primary" id="btn_next" onclick="templatePreview()">
                        </div>
                    </form>
				</div>

				<div id="setting" class="settings">
                    <div>
                        <div class="col-sm-12 well well-lg">
                            <div class="col-sm-5">
                                <label>
                                    Группы пользователей
                                </label>
                                <select multiple="multiple" class="form-control" id="select_groups">
                                    {% for group in groups %}
                                        <option value="{{ group.id}}">{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="text-center padding-elem">
                                    <input type="button" value="Добавить группы" id="add_group" class="btn btn-success">
                                </div>

                            </div>

                            <div class="col-sm-5">
                                <label>
                                    Добавленные группы
                                </label>

                                <select multiple="multiple" class="form-control select-style" id="adding_groups">

                                </select>

                                <div class="text-center padding-elem">
                                    <input type="button" value="Удалить группы" id="delete_group" class="btn btn-danger">
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-12 well well-lg">
                            <div class="col-sm-6">
                                <div>
                                    <label>
                                        Поиск пользователей
                                    </label>

                                    <input type="text" class="form-control" id="search_user" onkeyup="userSearch();">
                                </div>
                                <div>
                                    <label>
                                        Результаты поиска
                                    </label>
                                    <select multiple="multiple" class="form-control select-style" id="searching_users">

                                    </select>

                                </div>


                                <input type="button" value="Добавить пользователей" id="add_users">
                            </div>

                            <div class="col-sm-6">
                                <label>
                                    Пользователи
                                </label>
                                <div>
                                    <select multiple="multiple" class="form-control" id="added_users">

                                    </select>
                                </div>
                                <input type="button" value="Удалить пользователей" id="delete_users">
                            </div>

                        </div>
                        <!-- -------------------------------------------- -->


                        <div class="col-sm-12 well well-lg">
                            <div class="col-sm-6">

                                <label>
                                    Местоположение пользователей
                                </label>

                                <div>
                                    <select multiple="multiple" class="form-control select-style" id="locations">
                                        {% for location in locations %}
                                            <option value="{{ location.id}}">{{ location.name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>


                                <input type="button" value="Добавить местоположение" id="add_location">
                            </div>

                            <div class="col-sm-6">
                                <label>
                                    Добавленные местоположения
                                </label>
                                <div>
                                    <select multiple="multiple" class="form-control" id="added_locations">

                                    </select>
                                </div>
                                <input type="button" value="Удалить местоположение" id="delete_locations">
                            </div>

                        </div>

					<!-- -------------------------------------------- -->


                    <div>
                        <label>
                            Выбор даты и времени отправки письма
                        </label>
                        <div id="datetime">
                            <input id="datetimepicker" type="text" >
                        </div>
                    </div>

                    <!-- -------------------------------------------- -->

                    <div id="navigation">
                        <input type='button' value='Назад' class="btn btn-primary" id="btn_back">
                        <input type='button' value='Создать письмо' class="btn btn-primary" onclick="templateSave();">
                    </div>
				</div>
			</div>

		</div>
{% endblock %}